body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Assistant', sans-serif;
    direction: rtl;
    margin: 0;
}

.main-container {
    padding-bottom: 50px;
    overflow-x: hidden;
}

.main-container .header {
    height: 80px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 35px;
}

.main-container .header .separator {
    height: 1px;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 66px;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    background-color: white;
    transition: top 0.3s ease-in-out;
}

.main-container .header .separator.long {
    /* height: 60px; */
    top: 116px;
}

.main-container .header span {
    position: fixed;
    display: block;
    background: white;
    top: 0;
    padding-top: 22px;
    padding-bottom: 10px;
    z-index: 100;
    right: 0;
    left: 0;
    text-align: center;
}

.main-container .header .traffic-light {
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-size: 30px;
}

.main-container .header .traffic-light:after {
    content: ' ';
    width: 3px;
    height: 20px;
    background-color: #333;
    position: absolute;
    bottom: -12px;
    left: 13px;
}

.main-container .header .car {
    position: absolute;
    bottom: -20px;
    font-size: 40px;
    transform: translateX(650%);
    animation: driving 3s infinite;
    z-index: 12;
}

.main-container .header .plane {
    position: fixed;
    top: 0px;
    font-size: 40px;
    transform: translateX(1000%);
    animation: flying 30s 2s infinite;
    animation-timing-function: linear;
    z-index: 101;
}

.main-container .header .car.car-2 {
    animation: driving 4s 0.3s infinite;
}

.main-container .header .car.car-3 {
    animation: driving 5s 0.6s infinite;
}

.main-container .header .car.car-4 {
    font-size: 45px;
    animation: driving 5.5s 1.5s infinite;
}

.main-container .header .car.car-5 {
    font-size: 30px;
    transform: translateX(1000%);
    animation: bikes-driving 8s 0.7s infinite;
    animation-timing-function: linear;
}

.main-container .header .car.police {
    animation: driving 2s 2s infinite;
}

.night-countdown-container,
.old-driver-countdown-container {
    margin-top: 20px;
}

.main-container .countdowns-container {
    padding: 20px 0;
}

.main-container .countdowns-container .countdown {
    font-size: 20px;
    padding: 0 20px;
}

.main-container .countdowns-container .countdown .countdown-header {
    text-align: center;
    /* padding: 10px 0; */
    margin-bottom: 10px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .countdowns-container .countdown .countdown-header img {
    width: 80px;
    margin-right: 0px;
}

.main-container .countdowns-container .countdown .progress-bar {
    width: 100%;
    height: 30px;
    border-radius: 40px;
    border: 1px solid #ccc;
    margin-top: 10px;
    overflow: hidden;
}

.main-container .countdowns-container .countdown .text {
    text-align: center;
}

.main-container .countdowns-container .countdown .progress-bar .progress {
    width: 70%;
    height: 100%;
    border-radius: 40px;
    /* font-size: 16px; */
    background-color: rgb(0, 122, 255);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-container {
    height: 120px;
    width: 120px;
    border: 1px solid #aaa;
    margin: 16px auto;
    border-radius: 20px;
    overflow: hidden;
    transform: scale(0.8);
    animation: rotate 3s ease-in-out infinite;
}

.date-container .day-in-week {
    height: 30px;
    background-color: rgb(255, 59, 48);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-container .day {
    font-size: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-container .month {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
}

.main-container .license-date-container {
    border-top: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative;
}

.main-container .license-date-container #license-date-input {
    direction: ltr;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 100;
    opacity: 0;
}

.main-container .license-date-container .date-container {
    margin-top: 0;
}

.main-container .license-date-container .edit {
    color: rgb(0, 122, 255);
}

.main-container .license-date-container .edit .pointer {
    animation: pointer 0.7s ease-in-out infinite;
    font-size: 20px;
    display: inline-block;
    margin-right: 5px;
}

.main-container .car-separator {
    height: 120px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid #ccc;
    position: relative;
    margin-bottom: 40px;
}

.main-container .car-separator .sun {
    font-size: 40px;
    position: absolute;
    left: 30px;
    top: 20px;
}

.main-container .car-separator .cloud {
    font-size: 40px;
    position: absolute;
    top: 20px;
    animation: passing-cloud 4s infinite;
    animation-timing-function: linear;
    transform: translateX(-1500%);
}

.main-container .car-separator .cloud-1 {
    animation: passing-cloud 12s 2s infinite;
    animation-timing-function: linear;
}
.main-container .car-separator .cloud-2 {
    font-size: 30px;
    top: 30px;
    animation: passing-cloud 10s 1s infinite;
    animation-timing-function: linear;
}
.main-container .car-separator .cloud-3 {
    font-size: 50px;
    top: 15px;
    animation: passing-cloud 15s infinite;
    animation-timing-function: linear;
}
.main-container .car-separator .cloud-4 {
    font-size: 50px;
    animation: passing-cloud 20s infinite;
    animation-timing-function: linear;
}
.main-container .car-separator .cloud-5 {
    animation: passing-cloud 12s 5s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .car {
    font-size: 80px;
    position: absolute;
    bottom: -18px;
    animation: separator-driving 0.5s infinite;
    animation-timing-function: linear;
    z-index: 10;
}

.main-container .car-separator .music {
    font-size: 30px;
    position: absolute;
    top: 70px;
    animation: flying-music 1s infinite;
    animation-timing-function: linear;
    z-index: 9;
}

.main-container .car-separator .music-2 {
    animation: flying-music-2 1s 0.5s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .music-3 {
    animation: flying-music-3 1s 0.7s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .music-4 {
    animation: flying-music-4 1s 1.3s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .view {
    font-size: 60px;
    position: absolute;
    bottom: -12px;
    animation: passing-view 20s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .signpost {
    font-size: 60px;
    position: absolute;
    bottom: 0px;
    text-align: center;
    transform: translateX(-1500%);
    animation: passing-cloud 8s 3s infinite;
    animation-timing-function: linear;
}

.main-container .car-separator .signpost:after {
    content: ' ';
    height: 20px;
    width: 3px;
    background: #333;
    display: block;
    margin: auto;
}

.main-container .car-separator .signpost img {
    width: 33px;
    display: block;
}

.main-container .footer {
    margin-top: 50px;
}

.main-container .footer .sidewalk {
    position: relative;
    display: flex;
}

.main-container .footer .sidewalk .sidewalk-part {
    height: 10px;
    flex: 1;
}

.main-container .footer .sidewalk .sidewalk-part.blue {
    background-color: rgb(0, 122, 255);
}

.main-container .footer .sidewalk .sidewalk-part.white {
    background-color: #eee;
}

.main-container .footer .sidewalk .parking-car {
    position: absolute;
    font-size: 50px;
    bottom: -16px;
}

.main-container .footer .sidewalk .parking-car.parking-car-1 {
    left: 140px;
}

.main-container .footer .sidewalk .parking-car.parking-car-2 {
    left: 20px;
    font-size: 70px;
    bottom: -20px;
}

.main-container .footer .sidewalk .parking-car.parking-car-3 {
    right: 30px;
    font-size: 70px;
    bottom: -20px;
}

.main-container .footer .sidewalk .parking-car.parking-car-4 {
    position: absolute;
    bottom: -20px;
    font-size: 60px;
    transform: translateX(650%);
    animation: driving 8s infinite;
    animation-timing-function: linear;
    z-index: 12;
}

.main-container .footer .dev-name {
    text-align: center;
    direction: ltr;
    font-size: 18px;
    margin: 30px 0;
}

.main-container .footer .dev-name .sub-credit {
    color: #ccc;
    font-size: 12px;
}

@keyframes driving {
    0% {
        transform: translateX(650%);
    }
    100% {
        transform: translateX(-650%);
    }
}

@keyframes bikes-driving {
    0% {
        transform: translateX(1000%);
    }
    100% {
        transform: translateX(-1000%);
    }
}

@keyframes flying {
    0% {
        transform: scale(0.5) translateX(2000%) translateY(0);
    }
    14% {
        transform: scale(0.5) translateX(1200%) translateY(10px);
    }
    28% {
        transform: scale(0.5) translateX(400%) translateY(0);
    }
    42% {
        transform: scale(0.5) translateX(-400%) translateY(10px);
    }
    56% {
        transform: scale(0.5) translateX(-1200%) translateY(0);
    }
    70% {
        transform: scale(0.5) translateX(-2000%) translateY(10px);
    }
    100% {
        transform: scale(0.5) translateX(-2000%) translateY(0);
    }
}

@keyframes rotate {
    0% {
        transform: scale(0.8) rotate(-5deg);
    }
    50% {
        transform: scale(0.8) rotate(5deg);
    }
    100% {
        transform: scale(0.8) rotate(-5deg);
    }
}

@keyframes pointer {
    0% {
        transform: translateX(0) translateY(0);
    }
    50% {
        transform: translateX(15px) translateY(20px);
    }
    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes pointer {
    0% {
        transform: scaleX(-1) rotate(0);
    }
    50% {
        transform: scaleX(-1) rotate(20deg);
    }
    100% {
        transform: scaleX(-1) rotate(0);
    }
}

@keyframes separator-driving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes passing-cloud {
    0% {
        transform: translateX(-1500%);
    }
    100% {
        transform: translateX(1500%);
    }
}

@keyframes flying-music {
    0% {
        transform: translateX(20px) translateY(-20px) scale(1) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(120px) translateY(-40px) scale(0.3) rotate(360deg);
        opacity: 0;
    }
}

@keyframes flying-music-2 {
    0% {
        transform: translateX(-20px) translateY(-20px) scale(1) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-120px) translateY(-40px) scale(0.3) rotate(360deg);
        opacity: 0;
    }
}

@keyframes flying-music-3 {
    0% {
        transform: translateX(20px) translateY(-20px) scale(1) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-120px) translateY(-10px) scale(0.3) rotate(360deg);
        opacity: 0;
    }
}

@keyframes flying-music-4 {
    0% {
        transform: translateX(20px) translateY(-20px) scale(1) rotate(0);
        opacity: 1;
    }
    100% {
        transform: translateX(120px) translateY(-10px) scale(0.3) rotate(360deg);
        opacity: 0;
    }
}

@keyframes passing-view {
    0% {
        transform: translateX(-800%);
    }
    100% {
        transform: translateX(800%);
    }
}
